*{
	margin: 0 0;
box-sizing: border-box;
}
body {
	background-color: #1E1F21;
	color: #AFAFB3;
}

h1{
	text-align: center;
}
h2{
	text-align: center;
	color:white;
	margin-bottom: 10px;
}
.container{
	border-radius: 5%;
	width: 270px;
	background-color: #333E7A;
	margin: 20px 20px;
	padding: 10px 10px;
	display: inline-block;


}
.box{
	
	width: 250px;
display: inline-flex;

	margin-left: 10px;
	padding-bottom: 10px;

}

.firstCol{
	
	width: 60%;
	margin-right: 10px;
	
	
}
.secondCol{
	
	width: 30%;
	

	
}
